In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-05-14 17:58:43,-53.1500,-70.9167,50.11,71,40,16.11
1,1,Qaanaaq,GL,2022-05-14 18:03:31,77.4840,-69.3632,20.25,68,52,1.57
2,2,Hilo,US,2022-05-14 18:01:39,19.7297,-155.0900,77.29,85,70,1.01
3,3,Rikitea,PF,2022-05-14 18:02:30,-23.1203,-134.9692,76.30,68,0,23.47
4,4,Iqaluit,CA,2022-05-14 18:03:32,63.7506,-68.5145,20.70,79,63,20.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
#coordinates = (40.75,-74)
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Blytheville,US,2022-05-14 18:03:31,35.9273,-89.9190,84.13,58,0,5.75
15,15,Saint George,US,2022-05-14 18:00:17,37.1041,-113.5841,84.43,10,0,0.00
22,22,Butaritari,KI,2022-05-14 18:03:40,3.0707,172.7902,80.51,75,88,7.72
25,25,Techiman,GH,2022-05-14 18:03:41,7.5862,-1.9414,81.82,69,88,0.54
39,39,Qeshm,IR,2022-05-14 18:03:47,26.9581,56.2719,82.27,69,0,14.50
40,40,Kavieng,PG,2022-05-14 18:03:47,-2.5744,150.7967,81.37,75,39,9.84
50,50,Albany,US,2022-05-14 18:04:43,42.6001,-73.9662,84.58,52,86,1.01
64,64,Sao Domingos,BR,2022-05-14 18:04:57,-13.3983,-46.3183,88.57,32,98,5.95
65,65,Lorengau,PG,2022-05-14 18:04:57,-2.0226,147.2712,80.76,73,29,2.59
70,70,Hamilton,US,2022-05-14 18:00:30,39.1834,-84.5333,86.41,52,20,10.36

In [23]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
11   Blytheville      US     84.13  35.9273  -89.9190
15  Saint George      US     84.43  37.1041 -113.5841
22    Butaritari      KI     80.51   3.0707  172.7902
25      Techiman      GH     81.82   7.5862   -1.9414
39         Qeshm      IR     82.27  26.9581   56.2719
40       Kavieng      PG     81.37  -2.5744  150.7967
50        Albany      US     84.58  42.6001  -73.9662
64  Sao Domingos      BR     88.57 -13.3983  -46.3183
65      Lorengau      PG     80.76  -2.0226  147.2712
70      Hamilton      US     86.41  39.1834  -84.5333

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Blytheville,US,84.13,35.9273,-89.9190,Days Inn by Wyndham Blytheville
15,Saint George,US,84.43,37.1041,-113.5841,Best Western Plus Abbey Inn
22,Butaritari,KI,80.51,3.0707,172.7902,Isles Sunset Lodge
25,Techiman,GH,81.82,7.5862,-1.9414,KONTINENTAL LODGE
39,Qeshm,IR,82.27,26.9581,56.2719,Qeshm Kavan Hotel
40,Kavieng,PG,81.37,-2.5744,150.7967,Nusa Island Retreat
50,Albany,US,84.58,42.6001,-73.9662,
64,Sao Domingos,BR,88.57,-13.3983,-46.3183,Hotel e Restaurante Uirapuru (Márcio uirapuru ...
65,Lorengau,PG,80.76,-2.0226,147.2712,Lorengau Harbourside Hotel
70,Hamilton,US,86.41,39.1834,-84.5333,Six Acres Bed & Breakfast

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))